@{
    Layout = "_Layout1";
    ViewData["Title"] = "Ana Sayfa";
}

<h1>Öğrenci Yönetim Uygulaması</h1>

<hr>

<p>Öğrenci listesini görüntülemek, yeni öğrenci eklemek, güncellemek ve silmek için aşağıdaki bağlantıları kullanabilirsiniz.</p>

<div class="mt-3 mb-5">
    <a class="btn btn-primary" href="/Ogrenci/OgrenciListe">Öğrenci Listesi</a>
    <a class="btn btn-success" href="/Ogrenci/OgrenciEkle">Yeni Öğrenci Ekle</a>
</div>
